[submodule "Git&GitHub/todo-app"]
	path = Git&GitHub/todo-app
	url = https://github.com/KPkm25/todo-app
[submodule "Git&GitHub/PKM-portfolio"]
	path = Git&GitHub/PKM-portfolio
	url = https://github.com/KPkm25/PKM-portfolio
[submodule "Git&GitHub/Recipe_App"]
	path = Git&GitHub/Recipe_App
	url = https://github.com/KPkm25/Recipe_App
[submodule "AI_Log_Analyzer"]
	path = Python/Py_Adv/AI_Log_Analyzer
	url = https://github.com/KPkm25/AI_Log_Analyzer
[submodule "Groovy/Log_Checker"]
	path = Groovy/Log_Checker
	url = https://github.com/KPkm25/Log_Checker
[submodule "Groovy/gradle_plugin"]
	path = Groovy/gradle_plugin
	url = https://github.com/KPkm25/gradle_plugin
